$light-color: #f0f2f5;
$dark-color: #333;

$white-color: #fff;
$black-color: #222;

$headings-sidebar-profile-box-color: #777;
$text-sidebar-activity-color: #888;

$online-icon-color: #41db51;

$underline-link-hover-color: #045be6;

$border-color:#ccc;

$foreground-body-color: #5f5f5f;

$btn-color: #e4e6eb;

$icon-width: 30px;